body {
    background-color: #f6feff;
}

.navbar-brand img {
    width: 60px;
    height: 60px;
    margin-left: 15px;
}

.dropdown-item:hover {
    background-color: rgba(208, 0, 0, 0.516);
}

.container-fluid {
    background-color: #f6feff;
    height: 70px;
    margin: 0;
    padding: 10px;
    font-size: 15px;
}

.btn {
    height: 35px;
    background-color: rgb(163, 0, 0);
    border-color: rgb(208, 0, 0);
    color:rgb(255, 255, 255);
    font-size: 14px;
}

.btn:hover {
    background: rgb(208, 0, 0);
    border-color: rgb(208, 0, 0);
    color: white;
    transform:scale(0.9)
    
}

.form-control {
    height: 35px;
    font-size: 14px;
}

.titulo {
    margin-top: 20px;
    margin-left: 60px;
    width: 700px;
}

.titulo h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

    .titulo p {
    font-size: 14px;
}
.card {
    font-size: 14px;
    margin: 10px;
    background-color: rgb(255, 165, 165);
    border: none;
    border-radius: 10px;
    box-shadow: 5px 2px 2px rgba(241, 241, 241, 0.569);
}

.cards {
    display: flex;
    flex-direction: row;
    margin: 20px;
    justify-content: center;
}

.sizecard {
    font-size: 14px;
    margin: 20px;
    width: 18rem;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 2px 2px rgba(241, 241, 241, 0.569);
}

.sizecard img {
    width: 50px;
    height: 50px;
    margin: 20px;
}

.contenedor {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 14px;
    margin: 20px;
}

.carousel-inner {
    display: flex;
    align-items: center;
    margin: 20px;
    width: 300px;
    height: 300px;
}

